<section class="section-gallery">
    <h2 class="visually-hidden"></h2>
    <div class="container">
        <ul class="gallery">
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Eurovision 2021 finals!</p>
                <p class="card__date">2021-05-13</p>
                <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Atlas Weekend</p>
                <p class="card__date">2021-06-09</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">LP</p>
                <p class="card__date">2021-07-27</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">MONATIK</p>
                <p class="card__date">2021-07-17</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">MONATIK</p>
                <p class="card__date">2021-07-17</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">LP</p>
                <p class="card__date">2021-07-27</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Atlas Weekend</p>
                <p class="card__date">2021-06-09</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Eurovision 2021 finals!</p>
                <p class="card__date">2021-05-13</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Atlas Weekend</p>
                <p class="card__date">2021-06-09</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Eurovision 2021 finals!</p>
                <p class="card__date">2021-05-13</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>

            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">MONATIK</p>
                <p class="card__date">2021-07-17</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">LP</p>
                <p class="card__date">2021-07-27</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Eurovision 2021 finals!</p>
                <p class="card__date">2021-05-13</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">MONATIK</p>
                <p class="card__date">2021-07-17</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">LP</p>
                <p class="card__date">2021-07-27</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    Palace of Ukraine
                 </p>
            </li>
            <li class="card">
                <div class="card__decore"></div>
                <div class="card__image-wrap">
                    <img src="" alt="" class="card-img">
                </div>
                <p class="card__name">Atlas Weekend</p>
                <p class="card__date">2021-06-09</p>
                 <p class="card__place">
                    <svg class="icon-place" width="" height="">
                      <use href=""></use>
                    </svg>
                    VDNH
                 </p>
            </li>
        </ul>
    </div>
</section>