<header class="header">
  <div class="header__container">
    <a href="./index.html" class="link">
      <img src="./images/logo/logo-desc-3.svg" alt="" class="header__logo" />
    </a>
    <h1 class="header__title">FIND BEST EVENTS <br />AROUND THE WORLD</h1>
  </div>

  <div class="container">
    <div class="header__form">
      <form id="searchForm" class="header__form-search">
        <div class="header__event-search">
          <input
            type="text"
            class="header__event-input"
            placeholder="Start searching"
            name="searchInput"
          />

          <button type="submit" class="header__btn-search"></button>
        </div>

        <select id="size" name="size" class="header__event-input">
          <!-- selected -->
          Choose country
          <option value="xs">Country 1</option>
          <option value="s">Country 2</option>
          <option value="m">Country 3</option>
          <option value="l">Country 4</option>
        </select>
      </form>
    </div>
  </div>
</header>
