<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="./index.html" class="link">
        <img src="./images/logo/logo-desc.svg" alt="" class="header__logo" />
      </a>
      <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>

    <div class="header__form">
      <form id="searchForm" class="header__form-search">
        <label for="user_email"> </label>
        <input
          type="text"
          class="header__event-search"
          placeholder="Start searching"
          name="searchInput"
        />

        <button type="submit" class="header__btn-search">Search</button>

        <select id="size" name="size">
          <!-- selected -->
          Choose country
          <option value="xs">Country 1</option>
          <option value="s">Country 2</option>
          <option value="m">Country 3</option>
          <option value="l">Country 4</option>
        </select>
      </form>
    </div>
  </div>
</header>
