<div class="modal">
  <div class="modal__container container">
    <button class="modal__btn-close" type="submit"></button>
    <div class="modal__content">
      <div class="modal__picture">
        <img
          src="https://s1.ticketm.net/dam/a/c62/0636ff21-e369-4b8c-bee4-214ea0a81c62_1339761_CUSTOM.jpg"
          alt=""
          class="modal__picture-circle"
        />
      </div>

      <div class="modal__information">
        <img
          src="https://s1.ticketm.net/dam/a/c62/0636ff21-e369-4b8c-bee4-214ea0a81c62_1339761_CUSTOM.jpg"
          alt=""
          class="modal__picture-large"
        />
        <h2 class="modal__title info">info</h2>
        <p class="modal__info">
          "Footprint Center is now a cashless environment. Please plan on using
          Visa, Mastercard, American Express or Discover during your visit.
          Don't have a credit/debit card? Convert cash into a preloaded
          Mastercard by visiting one of our reverse ATMs located near the Ticket
          Office or Section 218! When you purchase a ticket to a Footprint
          Center event, you can ride the Valley Metro Light Rail at no cost for
          four (4) hours prior to the event through the end of the transit day.
          With an increased focus on secure, contactless entry, mobile tickets
          will now be required. All tickets will be delivered electronically
          with no exceptions, therefore will call is no longer available. All
          tickets are available via the Ticketmaster app or the
          Suns-Mercury-Footprint Center app. There is a 6 ticket limit. To
          purchase more than 6 tickets, please call 602.379.SUNS to find out
          about group tickets."
        </p>

        <div class="modal__when">
          <h2 class="modal__title when">when</h2>
          <p class="modal__when-date">"2023-04-04"</p>
          <p class="modal__when-time">"19:00:00"</p>
        </div>
        <h2 class="modal__title where">where</h2>
        <p class="modal__where">Phoenix Suns!!!</p>
        <h2 class="modal__title who">who</h2>
        <p class="modal__who">"Phoenix Suns vs. San Antonio Spurs"</p>
      </div>
      <div class="modal__prices">
        <h2 class="modal__title price">price</h2>
        <p class="modal__price-standart"></p>
        <p class="modal__price-vip"></p>
      </div>
    </div>
  </div>
</div>
