.header {
  height: 364px;
  background-image: url('../images/bghead-mob@1x.png');

  @include mq(tablet) {
    background-image: url('../images/bghead-tab@1x.png');
  }

  @include mq(desktop) {
    height: 446px;
    background-image: url('../images/bghead-desc@1x.png');
  }
}

.header__container {
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  @include mq(desktop) {
  }
}

.header__logo {
  // background-image: radial-gradient(
  //   circle at top left,
  //   #f44336 50%,
  //   #09792b 50%,
  // #09792b 40%,
  // #00b9ff 40%,
  // #00b9ff 65%,
  // #ffb800 65%
  // );

  width: 106px;
  height: 90px;

  @include mq(tablet) {
    width: 180px;
    height: 150px;
  }

  @include mq(desktop) {
    width: 230px;
    height: 190px;
  }
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-txt-cl);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include fonts(18px, 22px, 900);
  width: 280px;

  @include mq(tablet) {
    @include fonts(30px, 37px);
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
  }

  @include mq(desktop) {
    @include fonts(50px, 61px);
    width: 608px;
    margin-bottom: 48px;
    margin-left: 107px;
  }
}
// .logo-circle {
//   width: 213px;
//   height: 180px;
//   background: linear-gradient(
//       rgba(156, 190, 143, 0.7),
//       rgba(156, 190, 143, 0.7)
//     ),
//     #d9d9d9;
//   border-radius: 50%;
//   margin-bottom: 22px;
//   margin-left: -229px;
//   margin-top: -193px;
//   position: relative;
// }
